body{
    text-align: center;
    justify-content: center;
}
#outerbox{
  /* background-color: aqua; */
  margin: 0 auto;
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
.btn{
  
  border:   9px solid black;
  border-radius: 30px;
  height: 150px;
  width: 145px;
  margin: 13px 25px 0px 0px;
}

.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}
